-
  let author = "ℜodrigo Arĥimedeς ℳontegasppα ℭacilhας"
  let email = "batalema@cacilhas.info"

meta(charset="utf-8")/
meta(http-equiv="X-UA-Compatibile" content="IE=edge")/
meta(http-equiv="Pragma" content="no-cache")/
meta(http-equiv="Cache-Control" content="no-cache")/
meta(name="viewport" content="width=device-width, initial-scale=1")/
meta(name="description" content="")/
meta(name="author" content=`${author} <${email}>`)/
link(rel="stylesheet" href="/css/ie10-viewport-bug-workaround.css")/
link(rel="stylesheet" href="/css/vortaro.css")/
link(rel="icon" href="/img/favicon.ico")/
title Konsulta Vortaro
